
header {
    background-color: rgb(121, 164, 239);
}
h1 {
    width:100%;
    margin:auto;
}
nav {
    display:flex;
    flex-direction:row;
}
a {
    background-color: aliceblue;
    list-style-type: none;
    padding:10px;
    margin:5px;
}
